{% if main_menu %}
	<ul class="menu main-menu" id="{{main_menu.slug}}">
	{% for item in main_menu.get_items %}
		<li class="{{item.classes | join(' ')}}{% if item.get_children %} has-dropdown{% endif %}">
			<a href="{{item.get_link}}">{{item.title}}</a>
			{% if item.get_children %}
			<ul class="dropdown">
			{% for child in item.get_children %}
				<li class="dropdown__item"><a href="{{child.get_link}}">{{child.title}}</a></li>
			{% endfor %}
			</ul>
			{% endif %}
		</li>
	{% endfor %}
	</ul>
{% endif %}
