{% extends "base.twig" %}

{% block content %}
	<section class="page-section page-section--waves-plain">
		<div class="page-section__inner">
			<header class="page-section__header">
				<h1 class="heading heading--type-2 uppercase">{{fn('post_page_title')}}</h1>
			</header>
		</div>
	</section>

	<article class="post post-{{post.post_type}}" id="post-{{post.ID}}">
		
		<header class="post__header">
		{% if post.get_thumbnail %}
			<img class="post__thumbnail" src="{{post.thumbnail.src('big-sea-post-featured')}}" />
		{% endif %}
			<div class="post__header-shape">
				<div class="post__header-shape-inner">
					<h1 class="post__title">{{post.title}}</h1>
					<p class="post__meta">
						{{ fn('bsd_posted_on') }}
					</p>
				</div>
			</div>
		</header>

		<div class="post__content">
			<p>{{post.content}}</p>
		</div>

		<footer class="post__footer box box--rounded">
			<div class="post__newsletter-form">
				<h3 class="post__footer-title">Get the latest news</h3>
				{{fn('do_shortcode','[gravityform id="2" title="false" description="false" ajax="true"]')}}
			</div>
			<div class="post__social">
				<h3 class="post__footer-title">Stay in touch</h3>
				{{fn('do_shortcode', '[social-buttons]')}}
			</div>
		</footer>

		<section class="page-section">
			{% include ["partials/postnav.twig"] %}
		</section>

	</article>

	{# {% include  "partials/comments.twig" %} #}

{% endblock %}

{% block sidebar %}{% endblock %}
