<article class="teaser teaser-{{post.post_type}}" id="teaser-{{post.ID}}">
	{% block content %}
		<header class="teaser__header">
		{% if post.get_thumbnail %}
			<img class="teaser__thumbnail" src="{{post.thumbnail.src('big-sea-post-featured')}}" />
		{% endif %}
			<h2 class="teaser__title">
				<a href="{{post.link}}">{{post.title}}</a>
			</h2>
		</header>
		<div class="teaser__post-meta">
			<div class="teaser__post-date">
				{{ fn('bsd_posted_on') }}
			</div>
			<div class="teaser__read-more">
				<a href="{{post.link}}">
					Read More <i class="fa fa-angle-right"></i>
				</a>
			</div>
		</div>
	{% endblock %}
</article>
